<!DOCTYPE html>
<html>
<head>
  <title>Greenblog</title>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="navbar navbar-fixed-top navbar-inverse">
	      <div class="navbar-inner">
	        <div class="container">
	          <%= link_to "Live Life Green", '#', id: "logo" %>
	          <nav>
	            <ul class="nav pull-right">
	              <li><%= link_to "Home",    '/' %></li>
	              <li><%= link_to "Help",    '/help.html' %></li>
	              <li><%= link_to "Sign in", '#' %></li>
	            </ul>
	            <ul class="nav pull-left">
		          <li><%= link_to "Food",    '/' %></li>
		        </ul>
	          </nav>
	        </div>
	      </div>
	    </header>
	<div class= "container">
	  <div class="span-17 colborder" id="content">
	    <%= yield %>	
	  </div>
	  <div class="span-4 last" id="sidebar">
	  	<%= render(:partial => 'shared/side') %>
	  </div>
	</div>
</body>
</html>
